<ion-header>
    <ion-toolbar>
        <ion-title>new-room</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides id="slider" style="height: 100%" [options]="slideOpts">
        <ion-slide>
            <ion-img [src]="image"></ion-img>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-button (click)="goToNextSlide()">
                    <ion-label>
                        Next
                    </ion-label>
                </ion-button>
            </ion-fab>
        </ion-slide>
        <ion-slide>
            <h1>Slide 2</h1>
            <ion-fab vertical="bottom" horizontal="start" slot="fixed">
                <ion-button (click)="goToPreviousSlide()">Back</ion-button>
            </ion-fab>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-button (click)="goToNextSlide()">
                    <ion-label>Next</ion-label>
                </ion-button>
            </ion-fab>
        </ion-slide>
        <ion-slide>
            <h1>Slide 3</h1>
            <ion-fab vertical="bottom" horizontal="start" slot="fixed">
                <ion-button (click)="goToPreviousSlide()">Back</ion-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-button
                    (click)="goToNextSlide()"
                    [routerLink]="['/room-list']"
                    >Finished</ion-button
                >
            </ion-fab>
        </ion-slide>
    </ion-slides>
</ion-content>
