<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs *ngIf="authService.currentUser | async">
        <ion-tab-bar>
            <ion-tab-button tab="room-list">
                <ion-icon name="home"></ion-icon>
                <ion-label>Rooms</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="calendar">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Calendar</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-app>
